<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>GMM Refrigeração</title>
</head>
<body>
    <div><a href="#Inicio" class="BtnInicio">▲</a></div>
    <div id="Inicio" class="InvInicio">⠀</div>
    <img src="{{url_for('static', filename='images/logo.png')}}" class="Logo">
    <nav class="NavBar">
        <ul>
            <li><a href="#SobreNos">SobreNos</a></li>
            <li><a href="#Servicos">Nossos Serviços</a></li>
            <li><a href="#Contatos">Contatos</a></li>
            <li><a href="https://www.google.com/search?q=gmm+refrigera%C3%A7%C3%A3o&rlz=1C1VDKB_enBR1145BR1145&oq=&gs_lcrp=EgZjaHJvbWUqBggBEEUYOzIHCAAQABiPAjIGCAEQRRg7Mg8IAhAuGAoYxwEY0QMYgAQyBggDECMYJzIMCAQQABgUGIcCGIAEMgYIBRBFGDwyBggGEEUYPTIGCAcQRRg80gEIMTM3OWowajSoAgCwAgE&sourceid=chrome&ie=UTF-8#lrd=0x94deb1f0e01fad9b:0x1e084191ed37dc60,1">Feedbacks</a></li>
        </ul>
    </nav> 
    <div class="Conteudo">
        <div class="SobreNos">
            <div id="SobreNos" class="InvSobreNos">⠀</div>
            <div class="ContainerSobreNos">
                <div class="Contem1">
                    <p>Serviço de confiança e qualidade? é com a GMM!</p>
                </div>
                <div class="Contem2">
                    <ul>
                        <li>Profissionais esperientes</li>
                        <li>Trabalhamos com toda linha branca de eletrodomésticos</li>
                        <li>Atendimento à domicilio</li>
                        <li>Serviços com garantia</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Servicos">
            <div id="Servicos" class="InvServicos">⠀</div>
            <div class="ContainerServicos">
                <div class="Contem3">
                    <p>
                        Em Joinville e região, a GMM Refrigeração se destaca pela qualidade, confiança e compromisso com cada cliente. Trabalhamos com responsabilidade, atendimento ágil e serviços feitos com excelência, garantindo soluções eficientes e duradouras.
                    </p>
                </div>
                <div class="Fotos1">
                    <ul>
                        <li>
                            <img src="{{url_for('static', filename='images/1.jpeg')}}" alt="foto1">
                            <img src="{{url_for('static', filename='images/2.jpeg')}}" alt="foto2"><br>
                            <img src="{{url_for('static', filename='images/3.jpeg')}}" alt="foto3">
                            <img src="{{url_for('static', filename='images/4.jpeg')}}" alt="foto4">
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="Contatos">
            <div id="Contatos" class="InvContatos">⠀</div>
            <div class="ContainerPai">
                <div class="Ctt2">
                    <h2>E-mail</h2>
                    <p>gmmrefrigeracaosc@gmail.com</p>
                    <img class="EmailIcon" src="{{url_for('static', filename='images/EmailIcon.png')}}" alt="Email">
                </div>
                <div class="Ctt1">
                    <h2>Telefone</h2>
                    <p>Segunda - Sábado</p>
                    <p>(47) 8818-2676</p>
                    <img class="PhoneIcon" src="{{url_for('static', filename='images/PhoneIcon.png')}}" alt="Phone">
                </div>
                <div class="Ctt3">
                    <h2>Localização</h2>
                    <p>Joinville – Santa Catarina</p>
                    <img class="EmailIcon" src="{{url_for('static', filename='images/LocationIcon.png')}}" alt="Location">
                </div>
            </div>
        </div>

    </div>
    <div><a href="https://wa.me/47988182676" class="BtnWpp"><img src="{{url_for('static', filename='images/WhatsIcon.png')}}" alt="Whatsapp"></a></div>
    <footer>
        <p class="Texto">Todo serviço possui garantia</p>
        <p class="SubTexto">Desenvolvido por Arthur Iantas Stelzner, Design por Guilherme Miranda de Melo Costa</p>
    </footer>
</body>
</html>